<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_Core>
            <version>0.1.0</version>
        </Mediotype_Core>
    </modules>
    <global>
        <blocks>
            <mediotype_core>
                <class>Mediotype_Core_Block</class>
            </mediotype_core>
        </blocks>
        <helpers>
            <mediotype_core>
                <class>Mediotype_Core_Helper</class>
            </mediotype_core>
        </helpers>
        <models>
            <mediotype_core>
                <class>Mediotype_Core_Model</class>
            </mediotype_core>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <mediotype_core>
                    <file>mediotype-core/core.xml</file>
                </mediotype_core>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <mediotype_core>
                <use>admin</use>
                <args>
                    <module>Mediotype_Core</module>
                    <frontName>mediotype_core</frontName>
                </args>
            </mediotype_core>
        </routers>
    </admin>
</config>
